@font-face {
    font-family: 'Cursor Timer Ulil';
    src: url('CursedTimerUlil-Aznm.ttf');
}
body {
    margin: 0;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}
h3{
    color: #EEEEEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    width: 149px;

}
h2{
    border: 1px solid #080001;
    width: 155px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Cursor Timer Ulil';
    font-size: 90px;
    background: #080001;
    color: #F94F6D;
    margin-bottom: 26px;
    text-shadow: 0 0 8px #F94F6D;
}
button{
    border-radius: 5px ;
    margin-right: 9px;
}
button:hover{
    background-color: #1B244A;
}
button:active{
    transform: scale(0.95);
    background-color: #444;
}
.reset-group{
    text-align: center;
    margin-top: 20px;
}
#reset-btn{
   border: none;
   background: #080001;
    color: #F94F6D;
   padding: 20px 40px 10px 40px;
   font-family: 'Cursor Timer Ulil';
   font-size: 35px;
}
.button-group{
    color: #9AABD8;
    width: 45px;
    height: 45px;
    border: 1px solid #9AABD8;
    font-family: 'Cursor Timer Ulil';
    background: #1B244A ;
    padding: 10px 7px;
    
}
